<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <component id="encoder.silly"
                 service="Part10.SetterInjection.IEncoder, Part10.SetterInjection"
                 type="Part10.SetterInjection.SillyEncoder, Part10.SetterInjection">
      </component>

      <component id="encoder.null"
                 service="Part10.SetterInjection.IEncoder, Part10.SetterInjection"
                 type="Part10.SetterInjection.NullEncoder, Part10.SetterInjection">
      </component>

      <component id="fancyMessageFormatter"
                 service="Part10.SetterInjection.IMessageFormatter, Part10.SetterInjection"
                 type="Part10.SetterInjection.NVelocityMessageFormatter, Part10.SetterInjection">
        <parameters>
          <templateFile>message.vm</templateFile>
        </parameters>
      </component>

      <component id="messageSender"
                 type="Part10.SetterInjection.SecretMessageSender, Part10.SetterInjection">
        <parameters>
          <!--构造函数注入-->
          <from>alex@bittercoder.com</from>
          <encoder>${encoder.null}</encoder>
          <!--属性注入-->
          <Formatter>${fancyMessageFormatter}</Formatter>
        </parameters>
      </component>

    </components>
  </castle>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>