<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="startable.facility" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
      <facility id="logging"
                type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                loggingApi="log4net"
                configFile="log4net.config" />
    </facilities>
    
    <components>
      <component id="serves.lame.html"
                 service="Part11.StartableFacility.IStartable, Part11.StartableFacility"
                 type="Part11.StartableFacility.LameHttpFileServer, Part11.StartableFacility"
                 startable="true" startMethod="Start" stopMethod="Stop">
        <parameters>
          <prefix>http://*:8089/</prefix>
          <path>lame.html</path>
        </parameters>
      </component>
    </components>
  </castle>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>