<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="whatConfig.service" type="Part04.SwitchingConfigurations.WhatConfigurationService, Part04.SwitchingConfigurations">
      <parameters>
        <configuration>Live</configuration>
      </parameters>
    </component>
  </components>
</configuration>