<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <component id="holidays.service" type="Part02.ArrayConfiguration.HolidayService, Part02.ArrayConfiguration">
        <parameters>
          <Holidays>
            <array>
              <item>2007-12-24</item>
              <item>2007-12-25</item>
              <item>2008-1-1</item>
            </array>
          </Holidays>
        </parameters>
      </component>
    </components>
  </castle>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>