<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      
      <component id="encoder.silly"
                 service="Part09.ConstructorInjection.IEncoder, Part09.ConstructorInjection"
                 type="Part09.ConstructorInjection.SillyEncoder, Part09.ConstructorInjection">
      </component>
      <component id="encoder.null"
                 service="Part09.ConstructorInjection.IEncoder, Part09.ConstructorInjection"
                 type="Part09.ConstructorInjection.NullEncoder, Part09.ConstructorInjection">
      </component>
      
      <component id="messageSender"
                 type="Part09.ConstructorInjection.SecretMessageSender, Part09.ConstructorInjection">
        <parameters>
          <from>alex@bittercoder.com</from>
          <!--${id}用于引用定义的component-->
          <encoder>${encoder.null}</encoder>
        </parameters>
      </component>
      
    </components>
  </castle>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>